* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*movile*/

  .container {
    width: 100%;
    height: 100vh;
    background:url('../assets/images/night.jpg') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }

 /*tablet*/
@media (min-width: 768px) {
    
    .container {
      width: 100%;
      background: url('../assets/images/dawn.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
    }
  }

/*desktop*/
  @media (min-width: 992px) {
  
    .container {
      width: 100%;
      background: url('../assets/images/sunny-day.jpg') ;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
  }

}

img {
  position: relative;
  top: 50%;
  left: 25%;
}
 

 